<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Properties>
        <Property name="pattern">%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %c{1.}:%line - %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <RollingFile name="RollingFile" fileName="${sys:logging.path:-logs}/tetris.log"
                     filePattern="${sys:logging.path:-logs}/tetris-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="102400KB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <logger name="io.github.houjian.tetris" level="DEBUG"/>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</configuration>
